div.Body{
    margin: auto;
    
    margin-top: 130px;
    width: 100%;
}

div.WhiteText{
    color: white;
}

div.home-paragraph{

    background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 55%;
  height: 200px;
  margin: auto;
  margin-bottom: 95px;
  border-radius: 8px;
  align-self: center;
  align-items: center;
    padding: 35px;
}

a:visited{
    color: white;
}

a{
    color: white;
}